work

out

IsoHistory

PKGBUILDS/cfiles/*
!/PKGBUILDS/cfiles/PKGBUILD

PKGBUILDS/dmenu/*
!/PKGBUILDS/dmenu/PKGBUILD

PKGBUILDS/dwm/*
!/PKGBUILDS/dwm/PKGBUILD

PKGBUILDS/autoInstaller-AW
!/PKGBUILDS/autoInstaller-AW/PKGBUILD

PKGBUILDS/dwmblocks/*
!/PKGBUILDS/dwmblocks/PKGBUILD

PKGBUILDS/libxft-bgra/*
!/PKGBUILDS/libxft-bgra/PKGBUILD

PKGBUILDS/paru/*
!/PKGBUILDS/paru/PKGBUILD

PKGBUILDS/st/*
!/PKGBUILDS/st/PKGBUILD

PKGBUILDS/vim-plug/*
!/PKGBUILDS/vim-plug/PKGBUILD


PKGBUILDS/CustomRepo

PKGBUILDS/brave-bin/*
PKGBUILDS/libxft-bgra/*
PKGBUILDS/paru/*
PKGBUILDS/vim-plug/*


